<div id="other-wrapper">
    <button id = "short_link" class="btn btn-default btn-block">test short link</button>
    <button id = "limit_data_sharing_on" class="btn btn-default btn-block">limit data sharing on</button>
    <button id = "limit_data_sharing_off" class="btn btn-default btn-block">limit data sharing off</button>
    <button id = "get_limit_data_sharing" class="btn btn-default btn-block">get limit data sharing</button>
    <button id = "stop_all_tracking" class="btn btn-default btn-block">stop all tracking</button>
    <button id = "resume_all_tracking" class="btn btn-default btn-block">resume all tracking</button>
    <button id = "is_all_tracking_stopped" class="btn btn-default btn-block">is all tracking stopped</button>
    <button id = "skan_update_conversion_value" class="btn btn-default btn-block">skan update conversion value</button>
    <button id = "skan_update_conversion_values" class="btn btn-default btn-block">skan update conversion values(SKAN 4)</button>
    <button id = "skan_get_conversion_value" class="btn btn-default btn-block">skan get conversion value</button>
    <button id = "set_global_property" class="btn btn-default btn-block">set global property</button>
    <button id = "unset_global_property" class="btn btn-default btn-block">unset global property</button>
    <button id = "clear_global_properties" class="btn btn-default btn-block">clear global properties</button>
    <button id = "get_global_properties" class="btn btn-default btn-block">get global properties</button>
    <button id = "skan_register_app_for_ad_network_attribution" class="btn btn-default btn-block">skan register app for Ad Network attribution</button>
    <button id = "set_custom_user_id" class="btn btn-default btn-block">set custom user id</button>
    <button id = "unset_custom_user_id" class="btn btn-default btn-block">unset custom user id</button>
</div>

